---
const today = new Date();
---

<footer class="py-8 text-center text-slate-500 text-sm border-t border-slate-900">
  <p>&copy; {today.getFullYear()} Aditya Okke Sugiarso. All rights reserved.</p>
</footer>